.page-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vw;
  font-size: 3.5vw;
  padding-bottom: 2vh;
  justify-content: center;
  padding: 2vh;
  text-align: center;

}

.icon{
  width: 7vw;
  margin-right: 1vw;
  margin-top: 1vw;
}