.main-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2vw;
  margin-left: 4vw;
}

.container {
  background-color: white;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 0vh;
  border-radius: 1vw;
}

.datatable-crud-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable-crud-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-crud-demo .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.datatable-crud-demo .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-datatable {
  font-size: 1.5vh;
}

.teacher-image {
  height: auto;
  width: 8vw;
}
